body,html{
    height: 100%;
}


body{
    background-color: rgb(30, 126, 111);
   font-family: montserrat;
   display: flex;
   justify-content: center;
   align-items: center;
   /* min-height: 100vh; */
}


/* .title{
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
column-gap: 1rem;
font-size: 100px;
}


.title::before, .title::after{
    content: "";
    height: 3px;
    background-color: black;
    display: block;
    margin-left: 20px;
} */

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 12%; */
    /* padding-left: 12%; */
}
.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 95px;
    width: 900px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
    height: 600px;
}
.user-card::before{
    position: absolute;
    content: "";
    height: 300%;
    width: 173px;
    /* background: #262626; */
    background: rgb(13, 71, 63);
    top: -150px;
    left: -280px;
    z-index: 0;
    transform: rotate(25deg);
}
.user-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: black;
}
.user-card-img img{
    width: 150px;
    height: 250px;
    object-fit: cover;
}

.user-card-info{
    text-align: center;
}
.user-card-info h2{
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
/* font-family: bebas; */
}
.user-card-info p{
    font-size: 14px;
    margin-bottom: 2px;
}
 .user-card-info p span{
    font-weight: 700;
    margin-right: 10px;
 }
   @media only screen and (min-width:900px) {
    .user-card{
        flex-direction: row;
        align-items: flex-start;
    }
    .user-card-img{
        margin-right: 20px;
        margin-bottom: 0;
        border: 2px solid black;
        /* margin-top: 40px; */
    }
    .user-card-info{
        text-align: left;
        /* margin-top: 40px; */
    }
    .user-card-img img{
        width: 300px;
        height: 200px;
        object-fit: cover;
        
    }
   }
   @media(max-width: 900px){
    .wrapper{
        padding-top: 3%;
       
    }
    .user-card::before{
        width: 300%;
        height: 250px;
        transform: rotate(0);
        border-bottom: 3px solid black;
    }
    .user-card-info h2{
margin-top: 25px;
font-size: 25px;
    }
    .user-card-info p span{
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .user-card-img{
        /* padding-top: 10px; */
        border: 2px solid black;
    }
    .user-card{

        height: 650px ;
    }
   }