/* body{
    background-color: red;
    height: 100%;
    width: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */


/* header{
    background-color: blue;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
header input{
    justify-content: space-between;
    align-items: center;
    
}
header button{
     justify-content: space-between;
     align-items: center;
     display: flex;
} */